<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BootCampFu</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/{{style}}">
</head>

<nav>
    <div class="logo" id="mobile"><a href="/" class="home-redirect">BCF</a></div>
    <div class="logo" id="desktop"><a href="/" class="home-redirect">BootCampFu</a></div>
    <div class="search-div">
        <input id="search" placeholder="Search">
        <button id="search-btn"><i class="fas fa-search"></i></button>
    </div>
    <div class="login-div">
        <button class="nav-button" id="signup-login-btn">Sign Up</button>
        <button class="nav-button" id="login-btn">Log In</button>
        <button class="nav-button" id="logout-btn">Log Out</button>
    </div>
</nav>


<body>
  {{{body}}}

  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>


</body>

</html>
