<nav>
    <div class="logo">BCF</div>
    <div class="search-div">
        <input id="search" placeholder="Search">
        <button id="search-btn"><i class="fas fa-search"></i></button>
    </div>
    <div class="login-div">
        <button id="signup-login-btn"><i class="fas fa-sign-in-alt"></i></button>
    </div>
</nav>

<section class="topic-section">
    <h1>Browse Questions by Topic</h1>
    <ul>
        <li class="topic-search">HTML/CSS</li>
        <li class="topic-search">JavaScript</li></a>
        <li class="topic-search">Node</li>
        <li class="topic-search">Firebase</li>
        <li class="topic-search">Express</li>
        <li class="topic-search">React</li>
    </ul>
</section>

<section class="week-section">
    <h1>Browse Questions by Week</h1>
    <ul>
        <li class="week-search">Week 1/2 HTML/CSS</li>
        <li class="week-search">Week 3 JavaScript</li>
        <li class="week-search">Week 12 Node</li>
        <li class="week-search">Week 15 Handlebars </li>
        <li class="week-search">Week 20 React</li>
        <li class="week-search">Week 24 Java</li>
    </ul>
</section>

<section class="topquestions-section">
    <h1>Top Questions</h1>
</section>

<section class="ask-section">
    <h1>Ask A Question</h1>
    <p class="form-para">
        Title:
        <input id="question-title" placeholder="Need help with CSS!">
    </p>
    <p class="form-para">
        Topic:
        <input id="question-topic" placeholder="e.g. Java">
    </p>
    <p class="form-para">
        Week Number:
        <input id="question-week" placeholder="e.g. Week 1">
    </p>
    <p class="form-para">
        Question:<br>
        <textarea id="question-body" placeholder="e.g. I'm going to cry"></textarea>
    </p>
    <p class="form-para">
        <button type="submit" id="submit-custom-question-btn">Help!!!</button>
    </p>
</section>

