<nav id="question-list-nav">
    <div class="logo">BCF</div>
    <div class="search-div">
        <input id="search" placeholder="Search">
        <button id="search-btn"><i class="fas fa-search"></i></button>
    </div>
    <div class="login-div">
        <button id="signup-login-btn"><i class="fas fa-sign-in-alt"></i></button>
    </div>
</nav>
<div class="question-list">
    <h1>JavaScript Questions</h1> <!--will have templating-->
    {{!-- JUST TESTING --}}
    {{#each questions}}
        <h2>{{title}}</h2> 
        <p>{{text}}</p>
        <p>{{User.username}}</p>
    {{/each}}

    <div class="questions">
        <div class="upvotes-div">
            <i class="fas fa-chevron-up fa-lg upvote"></i>
            <p class="upvotes-num">0</p> <!--templating-->
            <i class="fas fa-chevron-down fa-lg downvote"></i>
        </div>
        <!--below will all use templating-->
        <div class="question-content-div">
            <p class="question-title">JavaScript function not working...</p>
            <p class="question-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi enim maxime provident totam... </p>
            <p class="author">Billy Bob</p>
        </div>
    </div>
    <div class="questions">
        <div class="upvotes-div">
            <i class="fas fa-chevron-up fa-lg upvote"></i>
            <p class="upvotes-num">0</p> <!--templating-->
            <i class="fas fa-chevron-down fa-lg downvote"></i>
        </div>
        <!--below will all use templating-->
        <div class="question-content-div">
            <p class="question-title">JavaScript function not working...</p>
            <p class="question-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi enim maxime provident totam... </p>
            <p class="author">Billy Bob</p>
        </div>
    </div>
    <div class="questions">
            <div class="upvotes-div">
                <i class="fas fa-chevron-up fa-lg upvote"></i>
                <p class="upvotes-num">0</p> <!--templating-->
                <i class="fas fa-chevron-down fa-lg downvote"></i>
            </div>
            <!--below will all use templating-->
            <div class="question-content-div">
                <p class="question-title">JavaScript function not working...</p>
                <p class="question-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi enim maxime provident totam... </p>
                <p class="author">Billy Bob</p>
            </div>
        </div>
</div>

