<div class="question-list">
    <h1>{{topic}}</h1>
    
    {{#each questions}}
        {{title}}
    {{/each}}

    <div class="questions">
        <div class="upvotes-div">
            <i class="fas fa-chevron-up fa-lg upvote"></i>
            <p class="upvotes-num">0</p> <!--templating-->
            <i class="fas fa-chevron-down fa-lg downvote"></i>
        </div>
        <!--below will all use templating-->
        <div class="question-content-div">
            <a href="#"><p class="question-title">JavaScript function not working...</p></a>
            <p class="question-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi enim maxime provident totam... </p>
            <p class="author">Billy Bob</p>
        </div>
    </div>
    <div class="questions">
        <div class="upvotes-div">
            <i class="fas fa-chevron-up fa-lg upvote"></i>
            <p class="upvotes-num">0</p> <!--templating-->
            <i class="fas fa-chevron-down fa-lg downvote"></i>
        </div>
        <!--below will all use templating-->
        <div class="question-content-div">
            <a href="#"><p class="question-title">JavaScript function not working...</p></a>
            <p class="question-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi enim maxime provident totam... </p>
            <p class="author">Billy Bob</p>
        </div>
    </div>
    <div class="questions">
            <div class="upvotes-div">
                <i class="fas fa-chevron-up fa-lg upvote"></i>
                <p class="upvotes-num">0</p> <!--templating-->
                <i class="fas fa-chevron-down fa-lg downvote"></i>
            </div>
            <!--below will all use templating-->
            <div class="question-content-div">
                <a href="#"><p class="question-title">JavaScript function not working...</p></a>
                <p class="question-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi enim maxime provident totam... </p>
                <p class="author">Billy Bob</p>
            </div>
        </div>
</div>

<footer>
    Copyright &copy; 2019
</footer>

