<form id="signup" name="signup" method="post" action="/signup">
    <h1>Sign Up</h1>
     <p class="form-para">
        Email Address:
        <input class="text" name="email" type="email" id="email-signup" placeholder="e.g. john@amazingcoder.com" required>
    </p>
     <p class="form-para">
        Username:
        <input class="text" name="username" type="text" id="username-signup" placeholder="e.g. john@amazingcoder.com" required>
    </p>
    <p class="form-para">
        Password:
        <input name="password" type="password" id="password-signup" required>
    </p>
    <p class="form-para">
       <input class="btn" type="submit" value="Sign In" id="signup-btn">
    </p>
</form>

{{message}}