@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$inputheight: 25px;
$inputborderradius: 10px;
$inputpadding: 5px;
$fontfamily: "Roboto Condensed", sans-serif;
$tablet: 768px;
$desktop: 920px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    font-family: $fontfamily;

    .question-page {
        margin-top: 100px;

        h1 {
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 19.920px;
            margin-bottom: 19.920px;
            margin-left: 10px;
        }


        .question {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-row: auto;

            .upvotes-div {
                margin-top: 10px;
                margin-left: 20px;
                
                .upvotes-num {
                    font-size: 35px;
                }
            }

            .title-author {
                margin-top: 10px;

                h2 {
                    margin-top: 5px;
                }

                p {
                    margin-top: 20px;
                }
            }

            .question-content-div {
                margin-top: 10px;
                margin-right: 10px;
                margin-left: 10px;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        .answers {
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-row: auto;

            .q-upvotes-div {
                margin-top: 10px;
                margin-left: 20px;
                
                .q-upvotes-num {
                    font-size: 35px;
                }
            }

            .answer-content-div {
                .answer-body {
                    margin-top: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }


        
        // }

        // .reply-section { 
        //     margin-top: 30px;
        //     margin-left: 16px;
        //     margin-right: 16px;

        
        //     .form-para {
        //         margin: 5px;
        //     }

        //     #answer-username {
        //         width: 75%;
        //         padding: 12px 20px;
        //         margin: 8px 0;
        //         display: inline-block;
        //         border: 1px solid #ccc;
        //         border-radius: 4px;
        //         box-sizing: border-box;
        //     }

        //     #answer-body {
        //         width: 100%;
        //         margin: 7px 0;    
        //         padding: 12px 20px;
        //         display: inline-block;
        //         border: 1px solid #ccc;
        //         border-radius: 4px;
        //         box-sizing: border-box;
        //     }

        //     #submit-custom-answer-btn {
        //         border: none;
        //         height: 28px;
        //         width: 60px;
        //         border-radius: 10px;
        //         background-color: color(button1);
        //         outline: none !important;
        //         cursor: pointer;
        //     }
        // }
    }
