@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$fontfamily: "Roboto Condensed", sans-serif;
$tablet: 768px;
$desktop: 920px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $fontfamily;
    
    .question-list {

        margin-top: 125px;
        
        h1 {
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 19.920px;
            margin-bottom: 19.920px;
            text-align: center;
            text-transform: capitalize;
        }

        .questions {
            border-top: 2px solid rgb(233, 231, 231);
            border-bottom: 2px solid rgb(233, 231, 231);
            padding: 10px;
            height: 150px;
            position: relative;

            .upvotes-div {

                margin-left: 10px;

                position: absolute;
                top: 50%;
                margin-top: -39.5px;

                .upvote {
                    cursor: pointer;
                }
                
                .upvotes-num {
                    font-size: 35px;
                }

                .downvote {
                    cursor: pointer;
                }
            }

            .question-content-div {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -80px;
                margin-top: -40px;

                .question-title {
                    margin-top: -20px;
                }

                .question-body {
                    margin-top: 20px;
                }

                .author {
                    margin-top: 20px;
                }

                @include tablet {
                    left: 10%;
                    margin-left: 0;
                    margin-top: -32px;

                    .question-title {
                        margin-top: -16px;
                    }

                    .question-body {
                        margin-top: 16px;
                    }
    
                    .author {
                        margin-top: 16px;
                    }
                }
            }
        }

        @include tablet {
            margin-top: 80px;
        }
    }
}