@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$inputheight: 25px;
$inputborderradius: 10px;
$inputpadding: 5px;
$fontfamily: "Roboto Condensed", sans-serif;
$tablet: 768px;
$desktop: 920px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    font-family: $fontfamily;

    .question-page {
        margin-top: 85px;
        background-color: #fff;

        .question {
            border-top: 2px solid rgb(233, 231, 231);
            border-bottom: 2px solid rgb(233, 231, 231);
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            height: 150px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
              
    
                .upvotes-div {
             
                    margin-left: 20px;
                    
                    .upvotes-num {
                        font-size: 35px;
                    }
                }
    
                .question-content-div {
                    margin-right: 10px;

                    .username {
                        margin-top: 10px;
                    }

                    .question-body-text {
                        margin-top: 10px;
                    }
                }  
    
                @include tablet {
                    grid-template-columns: 1fr 5fr;
                }
            } 
        }
        .answers {
            border-top: 2px solid rgb(233, 231, 231);
            border-bottom: 2px solid rgb(233, 231, 231);
            padding: 10px;
            height: 150px;
            position: relative;
            overflow: auto;


            .q-upvotes-div {
                margin-left: 30px;
                position: absolute;
                top: 50%;
                margin-top: -39.5px;

                .q-upvote {
                    cursor: pointer;
                }
                
                .q-upvotes-num {
                    font-size: 35px;
                }

                .q-downvote {
                    cursor: pointer;
                }   
            }
    
            .answer-content-div {
                position: absolute;
                top: 35%;
                left: 50%;
                margin-right: 10px;
                margin-left: -80px;
                margin-top: -40px;

                .answer-body {
                    margin-top: 20px;
                }

                .author {
                    margin-left: auto;
                }
            }
                // @include tablet {
                //     left: 10%;
                //     margin-left: 0;
                //     margin-top: -32px;

                //     .question-title {
                //         margin-top: -16px;
                //     }

                //     .answer-body {
                //         margin-top: 16px;
                //     }
    
                //     .author {
                //         margin-top: 16px;
                //     }
                //     }
                // }
        }

        .reply-section { 
            margin-top: 30px;
            margin-left: 16px;
            margin-right: 16px;

        
            .form-para {
                margin: 5px;
            }

            #answer-username {
                width: 75%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            #answer-body {
                width: 100%;
                margin: 7px 0;    
                padding: 12px 20px;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            #submit-custom-answer-btn {
                border: none;
                height: 28px;
                width: 60px;
                border-radius: 10px;
                background-color: color(button1);
                outline: none !important;
                cursor: pointer;
            }
        }
    }

    

    @include desktop {
        background-color: #bababa;
}