@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

body .recentquestions-section {
  width: 100%;
  margin-top: 100px;
}

body .recentquestions-section h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 19.920px;
  margin-bottom: 19.920px;
  margin-left: 10px;
}

body .recentquestions-section .recent-question {
  border-top: 2px solid #e9e7e7;
  border-bottom: 2px solid #e9e7e7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

body .recentquestions-section .recent-question .upvotes-div {
  margin-left: 20px;
}

body .recentquestions-section .recent-question .upvotes-div .upvotes-num {
  font-size: 35px;
}

body .recentquestions-section .recent-question .question-content {
  margin-right: 10px;
}

body .recentquestions-section .recent-question .question-content h2 {
  margin-bottom: 20px;
}

body .recentquestions-section .recent-question .question-content .topic {
  margin-top: 20px;
}

body .recentquestions-section .recent-question .question-content .author {
  margin-top: 20px;
}

@media (min-width: 768px) {
  body .recentquestions-section .recent-question {
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
  }
}

@media (min-width: 768px) {
  body .recentquestions-section {
    margin-top: 60px;
  }
}

body .topic-ask-section {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
}

body .topic-ask-section .topicsection h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 19.920px;
  margin-bottom: 19.920px;
}

body .topic-ask-section .topicsection ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 16px;
}

body .topic-ask-section .topicsection ul .topic-link:link {
  color: #111;
  text-decoration: none;
}

body .topic-ask-section .topicsection ul .topic-link:visited {
  color: #111;
  text-decoration: none;
}

body .topic-ask-section .topicsection ul .topic-link:hover {
  color: #111;
  text-decoration: none;
}

body .topic-ask-section .topicsection ul .topic-link:active {
  color: #111;
  text-decoration: none;
}

body .topic-ask-section .topicsection ul li {
  display: inline-block;
  padding: 3px;
  width: 80px;
  border: 1px solid #f48024;
  background-color: #f48024;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 920px) {
  body .topic-ask-section .topicsection ul {
    width: 60%;
  }
}

body .topic-ask-section .ask-section h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 19.920px;
  margin-bottom: 19.920px;
}

body .topic-ask-section .ask-section .form-para #question-title {
  margin-left: 10px;
  margin-bottom: 16px;
  width: 200px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  outline: none !important;
  padding-left: 5px;
  font-family: "Roboto Condensed", sans-serif;
}

body .topic-ask-section .ask-section .form-para #question-topic {
  margin-left: 10px;
  margin-bottom: 16px;
  width: 200px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  outline: none !important;
  padding-left: 5px;
  font-family: "Roboto Condensed", sans-serif;
}

body .topic-ask-section .ask-section .form-para #question-week {
  margin-left: 10px;
  margin-bottom: 16px;
  width: 80px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  outline: none !important;
  padding-left: 5px;
  font-family: "Roboto Condensed", sans-serif;
}

body .topic-ask-section .ask-section .form-para #question-body {
  margin-top: 10px;
  margin-bottom: 16px;
  height: 100px;
  width: 280px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  outline: none !important;
  overflow: auto;
  font-family: "Roboto Condensed", sans-serif;
}

body .topic-ask-section .ask-section .form-para #submit-custom-question-btn {
  height: 30px;
  width: 100px;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f48024;
  cursor: pointer;
}

@media (min-width: 768px) {
  body .topic-ask-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */