@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$colors: (
    nav: #fafafb,
    primary: #fff,
    border: #0095ff,
    button1: #f48024,
    button2: #0095ff,
    input-border: lightgrey
);

$inputheight: 25px;
$inputborderradius: 10px;
$inputpadding: 5px;
$fontfamily: "Roboto Condensed", sans-serif;

@function color ($color-name) {
    @return map-get($colors, $color-name);
}

$tablet: 768px;
$desktop: 920px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $fontfamily;
    display: grid;
    justify-items: center;

    .recentquestions-section {
        width: 100%;
        margin-top: 100px;

        h1 {
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 19.920px;
            margin-bottom: 19.920px;
            margin-left: 10px;
        }

        .recent-question {
            border-top: 2px solid rgb(233, 231, 231);
            border-bottom: 2px solid rgb(233, 231, 231);
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            min-height: 150px;

            .upvotes-div {
         
                margin-left: 20px;
                
                .upvotes-num {
                    font-size: 35px;
                }
            }

            .question-content {
                margin-right: 10px;

                h2 {
                    margin-bottom: 20px;
                }
            
                .topic {
                    margin-top: 20px;
                }
            
                .author {
                    margin-top: 20px;
                }
            }  

            @include tablet {
                grid-template-columns: 1fr 5fr;
            }
        } 

        @include tablet {
            margin-top: 60px;
        }
    }

    .topic-ask-section {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 20px;
        
        .topicsection {

            h1 {
                font-size: 1.5em;
                font-weight: bold;
                margin-top: 19.920px;
                margin-bottom: 19.920px;
            }

            ul {
                padding: 0;
                list-style-type: none;
                margin-bottom: 16px;

                .topic-link:link {
                    color: #111;
                    text-decoration: none;
                }
            
                .topic-link:visited {
                    color: #111;
                    text-decoration: none;
                }
            
                .topic-link:hover{
                    color: #111;
                    text-decoration: none;
                }
            
                .topic-link:active{
                    color: #111;
                    text-decoration: none;
                }
    
                li {
                    display: inline-block;
                    padding: 3px;
                    width: 80px;
                    border: 1px solid color(button1);
                    background-color: color(button1);
                    margin-top: 5px;
                    text-align: center;
                    cursor: pointer;
                }

                @include desktop {
                    width: 60%;
                }
            }
        }

        .ask-section {

            h1 {
                font-size: 1.5em;
                font-weight: bold;
                margin-top: 19.920px;
                margin-bottom: 19.920px;
            }

            .form-para {

                #question-title {
                    margin-left: 10px;
                    margin-bottom: 16px;
                    width: 200px;
                    height: $inputheight;
                    border-radius: $inputborderradius;
                    border: 1px solid color(input-border);
                    outline: none !important;
                    padding-left: $inputpadding;
                    font-family: "Roboto Condensed", sans-serif;
                }

                #question-topic {
                    margin-left: 10px;
                    margin-bottom: 16px;
                    width: 200px;
                    height: $inputheight;
                    border-radius: $inputborderradius;
                    border: 1px solid color(input-border);
                    outline: none !important;
                    padding-left: $inputpadding;
                    font-family: "Roboto Condensed", sans-serif;
                }

                #question-week {
                    margin-left: 10px;
                    margin-bottom: 16px;
                    width: 80px;
                    height: $inputheight;
                    border-radius: $inputborderradius;
                    border: 1px solid color(input-border);
                    outline: none !important;
                    padding-left: $inputpadding;
                    font-family: "Roboto Condensed", sans-serif;

                }
                    
                #question-body {
                    margin-top: 10px;
                    margin-bottom: 16px;
                    height: 100px;
                    width: 280px;
                    border-radius: $inputborderradius;
                    border: 1px solid color(input-border);
                    outline: none !important;
                    overflow: auto;
                    font-family: "Roboto Condensed", sans-serif;

                }

                #submit-custom-question-btn {
                    height: 30px;
                    width: 100px;
                    border: none;
                    font-family: "Roboto Condensed", sans-serif;
                    background-color: color(button1);
                    cursor: pointer;
                }
            }   
        }

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}
